@charset "utf-8";

/* reset css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
ul,li{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
  display: block;
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  font-family: 'Nanum Gothic', sans-serif;
  background: #ebe2de;
  color: #44654a;
}
img{
  border: 0;
  display: block;
}
.material-icons{ 
  font-family: 'Material Icons'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 24px; 
  display: inline-block; 
  line-height: 1; 
  text-transform: none; 
  letter-spacing: normal; 
  word-wrap: normal; 
  white-space: nowrap; 
  direction: ltr;
}
 /*주컬러*/
.abcd{
  color: #44654a;
  color: #ebe2de;
  color: #f7f3f3;
  color: #8e6d6e;
  color: #508164;
  }
.bodyWrap{
  width: 100%;
  min-width: 1600px;
}
header{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 9999; 
}
/* 네비 메뉴 전체 배경 */
#top_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 0;
  background: #f7f3f3;
  box-shadow: 2px 2px 10px #999;
  display: none;
}
.fixed-inner{
  position: fixed;
  width: 100%;
  height: 40px;
}
/* 회원서비스 메뉴 */
.gnb{
  width: 100%;
  min-width: 1600px;
  max-width: 1920px;
  height: 40px;
  color: #44654a;
  font-weight: 700;
}
.gnb>ul{
  width: 20%;
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  z-index: 99999;
}
.gnb>ul>li{
  text-align: center;
  font-size: 15px;
  padding: 5px;
}
.gnb>ul>li:hover{
  color: #8e6d6e;
}
.top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1600px;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo{
  text-align: center;
  width: 100%;
  height: 100px;
  font-weight: 400;
  font-size:  80px;
  line-height: 1.4;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  z-index: 9999;
}
/* 네비메뉴 */
nav{
  position: relative;
  width: 100%;
  height: 50px;
  z-index: 9999;
}
ul.navi{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}
ul.navi>li{
  position: relative;
  padding: 10px 50px;
  font-size: 21px; 
  font-weight: 400;
  cursor: pointer;
}
ul.navi>li:hover{
  color: #8e6d6e;
  border-bottom:  1.5px solid #8e6d6e;
}
ul.submenu{
  position: absolute;
  top: 60px; 
  left: 0;
  width: 100%;
  display: none;
  font-size: 17px;
}
ul.submenu>li{
  width: 100%; 
  line-height: 2;
  color: #44654a;
  text-align: center;
  letter-spacing: 1px;
}
ul.submenu>li:hover{
  background: #8e6d6e;
  color: #f7f3f3;
}




/* 푸터 */
footer{ 
  position: relative;
  height: 260px; 
  width: 100%; 
  background-color: #8e6d6e;
}

footer .inner{
  margin: 0 auto;
  width: 100%;
  min-width: 1600px;
  max-width: 1920px;
  height: 100%;
}
.bottom{
  margin-left: 10%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 200px;
  color: #f7f3f3;
  font-size: 12px;
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
} 
footer .left{
  position :relative;
  height: 100%;
  width: 15%; 
  text-align: center;
}
footer .left .title{ 
  height: 30px; 
  width: 100%;    
  letter-spacing: 4px;
}
footer .left .qrcode{
  height: 100px; 
  width: 100px; 
  margin: 0 auto;
  border-radius: 4px; 
  object-fit: cover;
}

footer .left .material-icons{ 
  width: 100px;
  margin: 0 auto;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  background: #999;
  font-size: 12px;
  line-height: 30px;
} 
footer .center{ 
  height: 200px; 
  width: 50%;
}
footer .center h2{
  font-size: 22px;
  letter-spacing: 1.5px;
}
footer .center p{
  margin-top: 5px;
}
footer .center b{
  margin-right: 30px;
}

footer .right{ 
  height: 200px;  
  width: 30%; 
}
footer .customer{ 
  letter-spacing: .5px;
  height: 130px; 
  width: 100%; 
}
footer .customer b{
  font-size:22px;
}
footer .customer strong{
  line-height: 1;
  font-size: 32px;
  letter-spacing: 2px;
}
footer .customer p{
  line-height: 2.5;
}
footer .sns_link{ 
  height: 40px; 
  width: 40%;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
footer .sns_link img{
  width: 30px; 
  height: 30px; 
}
